*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --platinum: #e7e7e7ff;
    --imperial-red: #f02d3aff;
    --ultra-violet: #645e9dff;
    --coyote: #84714fff;
    --black: #080708ff;
    font-family: 'Eczar', serif;

    color: var(--black)
}
.container {
    position: relative;
    z-index: 1000;
}
#navContainer {
    background-color: var(--coyote);
    display: flex;
    justify-content: space-between;
}

#logo {
    color: var(--black);
    margin: 0 1rem;
    font-size: 3rem;
    transition-duration: .4s;
}
#logo:hover {
    color: var(--ultra-violet);
    cursor: pointer;
}
#list {
    
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

.highlightText {
    color: var(--ultra-violet);
    font-style: bold;
}

.backgroundImage {
    background: no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#branding {
    color: var(--black);
    font-size: 7rem;
}

#callToAction {
    color: var(--coyote);
    font-size: 1.4rem;
}

#servicesContainer {
    display: flex;
    justify-content: space-evenly;
}

.card {
    padding: 3rem;
    margin-bottom: 4rem;
}
.albumImage{
    background: url('');
}
.card h1 {
    text-align: center;
    border-bottom: 5px solid var(--coyote);
    font-size: 3rem;
    margin-bottom: 1rem;
}
#main {
    width: 800px;
    opacity: 80%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

button {
    margin: 15px;
    padding: 10px;
    border: none;
    transition-duration: 0.4s;
    color: var(--black);
    background-color: var(--coyote);
    font-size: large;

}

button:hover {
    color: var(--imperial-red);
}

.form {
    position: absolute;
    z-index: 1003;
    top: 50%;
    right: 45%;
    width: 100%;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: var(--coyote);
    border: 2px solid var(--black);
    backdrop-filter: blur(4px);
}

#welcome {
    padding: 30px;
    font-size: large;
}

.page {
    position: absolute;
    text-align: center;
    top: 20%;
    right: 10%;
    width: 1000px;
    height: 600px;
    z-index: 1003;
    background-color: var(--black);
    justify-content: center;
    overflow: scroll;
}

.pageCard {
    background-color: var(--coyote);
    border: 5px solid var(--black);
    padding: 25px;
}
.song {
    background-color: var(--ultra-violet);
    border-radius: 15px;
    margin: 8px;
}